html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.app-wrapper {
	margin: 0 auto;
	padding-top: 9.375em;
	width: 40em;
}

.is-it-washingday {
	font-size: 9.375em;
	text-align: center;
	text-transform: uppercase;
}

.is-it-washingday-subtitle {
	font-size: 2.5em; /* 40px/16px * 1em */ 
	margin-bottom: 1.25em; /* 50px/40px * 1em */
	text-align: center;
}

.upcomming-washing-days-title {
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 0.3125em;
	text-align: center;
}

.upcomming-washing-days {
	text-align: center;
	line-height: 1.5em;
}